.App-header {
  background-color: #78684b;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: darkgoldenrod;
  
}


.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.app-background {
  background-color: beige;
  min-height: 100vh;
  padding: 2rem 0;

}